body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  .container {
    width: 300px;
    min-height: 50vh;
    background: #299861;
    align-items: center;
    margin: auto;
    margin-top: 120pt;
    border-radius: 10pt;
    padding: 33pt;
  }

  .container h6 {
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 10pt;
  }

  .container .input-name {
    margin-top: 0;
    border-color: black;
    border-width: 1.5px;
    height: 20px;
    width: 100%;
    margin-top: 0;
    border-radius: 2pt;
  }

  .container .input-address {
    margin-top: 0;
    border-color: black;
    border-width: 1.5px;
    height: 50px;
    width: 100%;
    margin-top: 0;
    border-radius: 2pt;
    padding: 8px;
    box-sizing: border-box; /* Pastikan padding tidak menambah lebar */
    resize: none; /* Opsional: menonaktifkan kemampuan mengubah ukuran */
    overflow-y: auto;
  }

  .container button{
    background: black;
    color: white;
    font-size:8pt;
    padding: 5pt;
    border: none;
    border-radius: 2pt;
    margin-top: 5pt;
    width: 50pt;
  }